POSTGRES_PASSWORD=pass
POSTGRES_USER=user
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=database
SLACK_WEBHOOK=https://hooks.slack.com/services/<id>/<id2>/<id3>
SLACK_USERS_ALLOWED='user1,user2'
GITHUB_ACCOUNT_TOKEN=github_token
GITHUB_ACCOUNT_USER=github_user_name
GITHUB_SECRET_WEBHOOK=sUp3Rs3Cr3t