POSTGRES_PASSWORD=pass
POSTGRES_USER=user
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=database
OIDC_CLIENT_ID=idclient.apps.googleusercontent.com
OIDC_SERVICE_URL=https://accounts.google.com
OIDC_CLIENT_SECRET=Cl13ntS3cr3t
APP_URL=http://127.0.0.1:3001
SLACK_WEBHOOK=https://hooks.slack.com/services/<id>/<id2>/<id3>
SLACK_USERS_ALLOWED='user1,user2'
GITHUB_ACCOUNT_TOKEN=github_token
GITHUB_ACCOUNT_USER=github_user_name
GITHUB_SECRET_WEBHOOK=sUp3Rs3Cr3t
APP_SECRET_KEY=S3Cret